@import url(https://fonts.googleapis.com/css?family=Nunito);

*{
margin: 0;
padding:0    
}



body{
background: url('https://images.wallpaperscraft.com/image/tree_minimalism_bw_132704_3840x2160.jpg'); 
background-repeat: no-repeat;
background-size: cover;   
background-attachment: fixed;

}

#header-container{
display: flex;
justify-content: center;
}

#Footer {
    margin-top: 36vh;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.719);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-family: Nunito;
    user-select: none;
}

@media (max-width: 600px) { 
    body{
        display: flex;
        justify-content: center;
        
    }


}
